@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Avenir Next LT pro";
    src: url("/fonts/Avenir\ Next\ LT\ Pro\ Regular.otf") format('opentype');
  }
  @font-face {
    font-family: "Avenir";
    src: url("/fonts/Avenir\ Regular.ttf") format('opentype');
  }
  body {
    font-family: "Avenir Next LT pro";
  }
}

@layer components {
  .text-subtitle {
    @apply text-lg text-secondary font-bold
  }
  body {
    @apply text-base
  }
  h4 {
    @apply text-2xl text-primary font-bold
  }
  .title {
    @apply flex flex-row items-baseline
  }
  .title h5 {
    @apply text-lg text-secondary font-bold
  }
  .title p {
    @apply text-xsm text-secondary
  }
  p.description {
    @apply text-lg text-xsm text-secondary italic mt-2
  }
  div.separator {
    @apply h-[1px] w-full bg-primary
  }
  section {
    @apply ml-4
  }
  section h4 {
    @apply ml-3 mt-4
  }
  ul {
    @apply list-disc text-sm text-base ml-4
  }
  ul.sublist {
    @apply list-["➱"]
  }
  .blocInfo {
    @apply text-base
  }
  .blocInfo h5 {
    @apply font-bold text-tertiary mt-2
  }
}